.search-query{
    border-radius: 40px;
    padding: 5px;
}

#leftMenu{
    padding-left: 25px;
}

#menu{
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #2e353d;
  
  top: 0px;
  height: 100%;
  color: #e1ffff;
}

